<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import firebase from 'firebase'
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['user'])
  },
  beforeCreate () {
    firebase.auth().onAuthStateChanged((user) => {
      console.log(user)
      if (user && this.$route.path === '/login') {
      } else if (!user && this.$route.path !== '/login') {
      }
    })
  }
}
</script>

<style>
</style>
