<template>
  <app-admin>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-4">
        <article class="tile is-child box">
          <h1 class="title">Account management</h1>
          <button class="button" v-on:click="newAccount">Create new account</button>
        </article>
      </div>

      <div class="tile is-parent is-4">
        <article class="tile is-child box">
          <h1 class="title">Create new contract</h1>
          <label class="label">Owner</label>
          <p class="control">
            <select v-model="contractOwner">
              <option v-for="account in accounts" v-bind:value="account">{{ account }}</option>
            </select>
          </p>
          <label class="label">Contractor</label>
          <p class="control">
            <select v-model="contractor">
              <option v-for="account in accounts" v-bind:value="account">{{ account }}</option>
            </select>
          </p>
          <button class="button" v-on:click="newRow">New item</button>
        </article>
      </div>

    </div>
  </app-admin>
</template>

<script>
import AppAdmin from '../AppAdmin'
import web3 from '../../store/web3api'

export default {
  components: {
    AppAdmin
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      accounts: null,
      contractOwner: null,
      contractor: null,
      items: [],
      values: [],
      fields: {
        item: {
          label: 'Item'
        },
        value: {
          label: 'Value'
        }
      }
    }
  },
  methods: {
    newAccount () {
      var accountID = web3.personal.newAccount('password123')
      console.log(accountID)
      this.fetchAccounts()
    },
    fetchAccounts () {
      this.accounts = web3.personal.listAccounts
      console.log(this.accounts)
    },
    newRow () {
      this.items.push('')
      this.value.push('')
    }
  },
  created () {
    // this.fetchAccounts()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  padding-bottom: 0.5em;
}
.row {
  padding-bottom: 2rem;
}
</style>
