<template>
  <app-admin>
    <div class="columns">
        <div class="column ">
            
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Voter ETH Account</label>
                <div class="control">
                    <label class="label">{{voterEthAccount}}}</label>
                </div>
            </div>
            <br>
            <div class="field">
                <label class="label">Candidate Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Name" v-model="candidateName" >
                </div>
            </div>
            <br>
            <div class="field">
                <label class="label">Ether Accoun(Campaign fund)</label>
                <div class="control">
                    <div class="select">
                        <select v-model="candidateEtherAccount">
                        <option disabled value="">Please select</option>
                        <option v-for="account in etherAccounts" v-bind:value="account">
                            {{ account }}
                        </option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary"  v-on:click="addCandidate()">Add</button>
                    <button class="button is-primary" v-on:click="lockDownCandidates()">Lock Down</button>
                </div>
            </div>
            <br>
            <div class="field">
                <label class="label">Shortlisted candidates</label>
            </div>
            <table class="table">
            <thead>
                <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th>Candidate's Name</th>
                <th>Donation Account</th>
                <th>Donation Fund</th>
                <th>Donate amount</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th>Candidate's Name</th>
                <th>Donation Account</th>
                <th>Donation Fund</th>
                <th>Donate amount</th>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="(item, index) in candidates">
                <th>{{index+1}}</th>
                <td>{{item.candidateName}}</td>
                <td>{{item.candidateAccount}}</td>
                <td>{{item.candidateFund}}</td>
                <td>
                    <input class="input" type="text" placeholder="Name" v-model="item.donateAmount" >ETH
                    <button class="button is-primary"  v-on:click="donateToCandidate(index)">Donate</button>
                </td>
                </tr>
            </tbody>
            </table>
            <br>
            <div class="field">
                <label class="label">Confirm candidates</label>
            </div>
            <table class="table">
            <thead>
                <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th>Candidate's Name</th>
                <th>Candidate's Fund</th>
                <th><abbr title="totalVotes">Total Votes</abbr></th>
                <th><abbr title="Action">Action</abbr></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                <th><abbr title="Position">Pos</abbr></th>
                <th>Candidate's Name</th>
                <th>Candidate's Fund</th>
                <th><abbr title="totalVotes">Total Votes</abbr></th>
                <th><abbr title="Action">Action</abbr></th>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="(item, index) in candidatesVotes">
                <th>{{index+1}}</th>
                <td>{{item.candidateInfo.candidateName}}
                <td>{{item.candidateInfo.candidateFund}} <b>ETH</b>
                </td>
                <td>{{item.candidateTotalVotes}}</td>
                <td><div class="control">
                        <button class="button is-primary" v-on:click="voteCandidate(index)">Vote !</button>
                    </div></td>
                </tr>
            </tbody>
            </table>
            
        </div>
        <div class="column">
            
        </div>
    </div>
  </app-admin>
</template>

<script>
import AppAdmin from '../AppAdmin'

export default {
  components: {
    AppAdmin
  },
  data () {
    return {
      api_url: 'https://ea30c954.ngrok.io',
      voterEthAccount: '0x573e181b56c88d879381bd6a6f6de00c0fefc6c5',
      candidateInfo: {},
      candidateName: '',
      candidateEtherAccount: '',
      etherAccounts: [],
      candidates: [],
      candidatesVotes: [],
      contractAddress: ''
    }
  },
  methods: {
    donateToCandidate (index) {
      var donation
      this.candidates.forEach(function (element, idx) {
        console.log(element.candidateFund)
        if (idx === parseInt(index)) {
          element.candidateFund = parseInt(element.candidateFund) + parseInt(element.donateAmount)
          donation = {
            candidateFund: parseInt(element.donateAmount),
            candidateName: element.candidateName,
            candidateAccount: element.candidateAccount
          }
          element.donateAmount = 0
        }
      }, this)
      this.$http.post(this.api_url + '/donate', donation).then((response) => {
        console.log('response for the donation ! ' + response)
      }, function (err) {
        console.log(err)
      })
    },
    addCandidate () {
      console.log('add Candidate')
      console.log(this.candidateEtherAccount)
      let acctemp = this.candidateEtherAccount
      console.log('>>>> ' + acctemp)
      let candidateSelectedAccount = ''
      this.etherAccounts.forEach(function (item) {
        if (item === acctemp) {
          candidateSelectedAccount = acctemp
        }
      })
      console.log('>>>>ss2 ' + candidateSelectedAccount)
      this.candidateInfo = { candidateName: this.candidateName, candidateAccount: candidateSelectedAccount, candidateFund: 0, donateAmount: 0 }
      this.candidates.push(this.candidateInfo)
      console.log(this.candidates)
      var index = this.etherAccounts.indexOf(candidateSelectedAccount)
      this.etherAccounts.splice(index, 1)
      this.candidateName = ''
      this.candidateEtherAccount = ''
    },
    lockDownCandidates () {
      console.log('lockdown candidates')
      this.candidatesVotes = []
      this.candidates.forEach(function (element, index) {
        console.log(element)
        var confirmCandidate = {
          idx: index,
          candidateInfo: element,
          candidateTotalVotes: 0
        }
        this.candidatesVotes.push(confirmCandidate)
      }, this)
      this.$http.post(this.api_url + '/create-contract', this.candidatesVotes).then((response) => {
        console.log(response)
        var contractAddy = response.data.contractAddr
        console.log('>>>> Contract Address >>> ' + contractAddy)
        this.contractAddress = contractAddy
        console.log('>>>> Contract Address >>> ' + this.contractAddress)
      }, function (err) {
        console.log(err)
      })
      // this.candidates = []
    },
    voteCandidate (index) {
      console.log('Vote !' + index)
      var voteData
      try {
        this.candidatesVotes.forEach(function (element) {
          if (index === element.idx) {
            console.log('Voting for the correct person?')
            console.log('who ssss ?' + element.candidateInfo.candidateName)
            // console.log(this.contractAddress)
            element.candidateTotalVotes = element.candidateTotalVotes + 1
            // console.log(this.contractAddress)
            console.log(element.candidateInfo.candidateName)
            voteData = {candidateName: element.candidateInfo.candidateName}
          }
        })
        console.log('voteData ! ' + voteData)
        this.$http.post(this.api_url + '/vote', voteData).then((response) => {
          console.log('response for the vote ! ' + response)
        }, function (err) {
          console.log(err)
        })
      } catch (e) {
        console.log(e)
        console.log('Voted !')
      }
    }
  },
  created () {
    console.log('created')
    var result = []
    this.$http.get(this.api_url + '/accounts').then(function (response) {
      response.data.forEach(function (item) {
        console.log(item)
        result.push(item)
      })
      console.log(result)
      result.splice(0, 1)
    }, function (err) {
      console.log(err)
    })
    this.etherAccounts = result
    console.log(this.etherAccounts)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  padding-bottom: 0.5em;
}
.row {
  padding-bottom: 2rem;
}
</style>
