<template>
  <app-admin>
    <div class="content has-text-centered">
      <p>
        <img width="200" src="~assets/logo.svg" :alt="description">
      </p>

      <h1 class="is-title is-bold">Blockchain Demo</h1>

      
      <p>Supports Vue 2.0 and Bulma 0.3!</p>
    </div>
  </app-admin>
</template>

<script>
import AppAdmin from 'views/AppAdmin'
export default {

  components: {
    AppAdmin
  },

  data () {
    return this.$store.state.pkg
  }

}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
</style>
