<template>
  <div id="app">
    <nprogress-container></nprogress-container>
    <section class="is-primary is-large header-image">
    <div class="head">
      <header class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="../index.html">
                <img src="../assets/stackup_badge.jpg" alt="Logo">
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            <a class="nav-item is-active">
              <router-link v-if="!authenticated" :to="{ name: 'Login' }">Sign In</router-link>
            </a>
            <a class="nav-item">
              <router-link :to="{ name: 'Home' }">Admin</router-link>
            </a>
            <a v-if="authenticated" @click="logout" class="nav-item">Logout</a>
          </div>
        </div>
      </header>
    </div>
    <div class="body">
      <div class="container has-text-centered">
        <br>
        <h2 class="title is-2">Blockchain Demo</h2>
        <br>
        <div id="g" style="background-color:black; width:100%; height:600px;"></div> 
        <p>Lorem ipsum<sup><a>[1]</a></sup> dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque. Sub<sub>script</sub> works as well!</p>
        <br><br>
        <p class="control">
          <div class="control">
            <input class="input search" type="text" placeholder="Search...">
          </div>
        </p>
      </div>
    </div>
  </section>
  </div>
</template>

<script>
import NprogressContainer from 'vue-nprogress/src/NprogressContainer'
import { authenticated } from '../app'
import { mapState } from 'vuex'
import firebase from 'firebase'
console.log(authenticated)
export default {
  computed: {
    ...mapState(['user'])
  },
  data () {
    return {
      authenticated
    }
  },
  components: {
    NprogressContainer
  },

  methods: {
    logout () {
      if (authenticated) {
        console.log('Logout')
        firebase.auth().signOut()
        this.$router.push('/')
      }
    }
  },

  beforeMount () {

  }
}
</script>

<style lang="scss">
@import '~animate.css';
.animated {
  animation-duration: .377s;
}

@import '~bulma';

@import '~wysiwyg.css/wysiwyg.sass';

$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

html {
  background-color: whitesmoke;
}

.control {
  text-align: center !important;
}

.search {
  max-width: 10rem !important;
}

.nprogress-container {
  position: fixed !important;
  width: 100%;
  height: 50px;
  z-index: 2048;
  pointer-events: none;

  #nprogress {
    $color: #48e79a;

    .bar {
      background: $color;
    }
    .peg {
      box-shadow: 0 0 10px $color, 0 0 5px $color;
    }

    .spinner-icon {
      border-top-color: $color;
      border-left-color: $color;
    }
  }
}
</style>
